/.vscode
/.vs
/build*
/external
/figures
/out
/results
/tmp
/venv
/video
/instant-ngp
/*.dll
/*.exe
/*.json
*.ingp
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini

data/nerf/salmon/

data/nerf/salmon_all/salmon/

data/nerf/salmon_all/salmon_baseline/

data/nerf/salmon_all/

snapshots_allcams/video0010/

snapshots_allcams/video0011/

snapshots_delay/video0010/

snapshots_delay/video0011/

*.mp4
